html {
    box-sizing: border-box;
}

*, ::after,
::before {
    box-sizing: inherit;
}

.body {
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Mono', monospace;
    max-width: 1000px;
    margin: auto;
    background-image: url("../image/dolar.jpg");
    background-size: contain;
}